* {
  scroll-behavior: smooth;
}


.app {
    min-height: 100vh;
    background-color: #000000;
    color: white;
    padding-top: 120px;
    padding-bottom: 40px;
  }
  
  @media (max-width: 700px) {
    .app {
      padding-top: 70px;
      padding-bottom: 70px
    }
  }
  
.page-title {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 3vw;
  padding: 0 4px 4px;
  margin: 11px;
  border-radius: 50px;
  color: #d7b8ff;
}

@media (max-width: 700px) {
.page-title {
    font-size: 5.5vw;
    letter-spacing: 2px;
    /* margin-bottom: 5px; */
  }
}
